In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

## 1

### 1.1

In [3]:
heart = pd.read_csv("../../data/heart.csv.bz2")

In [4]:
heart.head(5)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

It generally looks good.

### 1.2

In [5]:
y = heart["output"]
X = heart.drop("output", axis = 1)

### 1.3

In [6]:
y.value_counts().max() / len(y)

0.5445544554455446

The acc of naive model is 0.545

### 1.4

In [7]:
X = pd.get_dummies(X, columns=["cp", "restecg", "sex", "fbs", "exng", "slp", "thall"], drop_first=True)

### 1.5

In [8]:
Xt, Xv, yt, yv = train_test_split(X, y, random_state=371)
Xt.shape, Xv.shape

((227, 19), (76, 19))

## 2

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

### 2.1

In [10]:
log_m = LogisticRegression(max_iter=1000)
log_m.fit(Xt, yt)
log_acc = log_m.score(Xv, yv)
print(log_acc)

0.8026315789473685

### 2.2

In [11]:
knn_m = KNeighborsClassifier(n_neighbors=5)
knn_m.fit(Xt, yt)
knn_acc = knn_m.score(Xv, yv)
print(knn_acc)

0.7236842105263158

### 2.3

In [12]:
tree_m = DecisionTreeClassifier(max_depth=4)
tree_m.fit(Xt, yt)
tree_acc = tree_m.score(Xv, yv)
print(tree_acc)

0.7631578947368421

## 3

In [13]:
def fit_ensemble(Xt, yt):
    log_m = LogisticRegression(max_iter=1000)
    knn_m = KNeighborsClassifier(n_neighbors=5)
    tree_m = DecisionTreeClassifier(max_depth=4)

    log_m.fit(Xt, yt)
    knn_m.fit(Xt, yt)
    tree_m.fit(Xt, yt)  

    return (log_m, knn_m, tree_m)

In [14]:
def score_ensemble(models, Xv, yv):
    m1, m2, m3 = models
    yhat1 = m1.predict(Xv)
    yhat2 = m2.predict(Xv)
    yhat3 = m3.predict(Xv)

    yhat = (yhat1 + yhat2 + yhat3) > 1.5

    acc = np.mean(yhat == yv)
    return acc

In [ ]:
ms = fit_ensemble(Xt, yt)
score_ensemble(ms, Xv, yv)